<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/add_event.css">
    <title>Register an Event</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" 
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
</head>

<body>

    <div class="outer_container">
        <div class="event_top_header">
            <p>basic details</p>
            <a href="/add_event_close"><button>Back to Dashboard</button></a>
        </div>
        {{msg}}

        <form class="forms_container" action="/create_event" method="POST" enctype="multipart/form-data">
            <div class="mb-3">
                <label class="form-label" for="event_name">Event title</label>
                <input class="form-control" type="text" name="event_name" id="name" required>
            </div>
            <div class="mb-3">
                <label class="form-label" for="event_type">Event type</label>
                <input class="form-control" type="text" name="event_type" id="type" required>
            </div>
            <div class="mb-3">
                <label class="form-label" for="org_dept">Organizing department</label>
                <input class="form-control" type="text" name="org_dept" id="org_dept" required>
            </div>
            <div class="mb-3">
                <label class="form-label" for="hod_name">Name of the HoD</label>
                <input class="form-control" type="text" name="hod_name" id="hod_name" required>
            </div>
            <div class="mb-3">
                <label class="form-label" for="part_dept">Participating Department</label>
                <input class="form-control" type="text" name="part_dept" id="part_dept" required>
            </div>
            <div class="mb-3">
                <label class="form-label" for="part_clg">Participating College</label>
                <input class="form-control" type="text" name="part_clg" id="part_clg" required>
            </div>
            <div class="mb-3">
                <label class="form-label" for="event_mode">Mode of event</label>
                <select class="form-select" aria-label="Default select example" name="event_mode" id="event_mode" required>
                    <option  value="Online">Online</option>    
                    <option selected value="Offline">Offline</option> 
                </select>

            </div>
            <div class="mb-3">
                <label class="form-label" for="guest_details">Chief Guest Details</label>
                <input class="form-control" type="text" name="guest_details" id="guest_details">
            </div>

            <div class="mb-3">
                <label class="form-label" for="al_batch_yrs">Alumni Batch</label>
                <input class="form-control" type="text" name="al_batch_yrs" id="al_batch_yrs">
            </div>

            <div class="mb-3">
                <label class="form-label" for="al_clg_name">Alumni College name</label>
                <input class="form-control" type="text" name="al_clg_name" id="al_clg_name">
            </div>

            <div class="mb-3">
                <label class="form-label" for="staff_cord">Name of Staff Co-ordinator</label>
                <input class="form-control" type="text" name="staff_cord" id="staff_cord" required>
            </div>

            <div class="mb-3">
                <label class="form-label" for="student_cord">Name of Student Co-ordinator</label>
                <input class="form-control" type="text" name="student_cord" id="student_cord" required>
            </div>

            <div class="mb-3">
                <label class="form-label" for="staff_rapp">Name of Staff Rapportuer</label>
                <input class="form-control" type="text" name="staff_rapp" id="staff_rapp" required>
            </div>

            <div class="mb-3">
                <label class="form-label" for="studnet_rapp">Name of Student Rapportuer</label>
                <input class="form-control" type="text" name="studnet_rapp" id="studnet_rapp" required>
            </div>

            <div class="mb-3">
                <label class="form-label" for="fun_level">Level of Functions</label>
                <select class="form-select" aria-label="Default select example"  name="fun_level" id="fun_level" required>
                    <option selected value="Department">Department</option>
                    <option  value="Institution">Institution</option>    
                    <option  value="Institution">State Level</option>  
                    <option  value="Institution">National Level</option>  
                    
                </select>
            </div>

            <div class="mb-3">
                <label class="form-label" for="partici_type">Type of participants</label>
                <input class="form-control" type="text" name="partici_type" id="partici_type" required>
            </div>

            <div class="mb-3">
                <label class="form-label" for="no_partici">Number of participants</label>
                <input class="form-control" type="number" name="no_partici" id="no_partici" required>
            </div>

            <div class="mb-3">
                <label class="form-label" for="no_days">Number of participants</label>
                <input class="form-control" type="number" name="no_days" id="no_days" required>
            </div>

            <div class="mb-3">
                <label class="form-label" for="event_date">Date</label>
                <input class="form-control" type="date" name="event_date" id="event_date" required>
            </div>

            <div class="mb-3">
                <label class="form-label" for="event_time">Time</label>
                <input class="form-control" type="time" name="event_time" id="event_time" required>
            </div>


            <button type="submit">Create</button>
        </form>


    </div>

</body>

</html>