<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Event Description</title>
    <link rel="stylesheet" href="../static/event_des.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">
</head>
<body>

    <!-- <p>{{d_msg}}</p>
    <p>{{account}}</p>

    <a href="/dashboard"><button>close</button></a> -->

    <div class="des_outer_container">
        <div class="des_top_bar">
            <p class="dept_name">{{admin_acc[1]}}</p>
            <a href="/dashboard"><button  class="close_btn">Close</button></a>
        </div>

        <div class="des_container">
            <div class="date_container">
                <p class="date">10 October</p>
                <p>|</p>
                <p class="time">10:45am</p>
            </div>
            <p class="event_name">{{d_account[2]}}</p>

            <img class="des_image" src="/static/back_img_large.jpg" alt="Loading">
        </div>
    </div>
</body>
</html>

